<div class="login-container">
    <nav class="navbar common-font">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SameCondition</a>
        </div>
      </div>
    </nav>
    <div class="reset-form" *ngIf="show_success_msg == false">
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 no-padding">
                <div class="form-group">
                    <label class="label_color">Password</label>
                    <input type="password" class="form-control custom-form-control"  placeholder="Enter your password"
                    [(ngModel)]="user_reset_password.password">
                    <div class="fs-12 text_red" *ngIf="formValidation == true && user_reset_password.password =='' ">Password cannot be blank.</div>
                </div>
                <div class="form-group">
                    <label class="label_color">Confirm Password</label>
                    <input type="password" class="form-control custom-form-control" placeholder="Enter your password" name="pwd" autocomplete="new-password" [(ngModel)]="user_reset_password.password_confirmation">
                    <div class="fs-12 text_red" *ngIf="formValidation == true && user_reset_password.password_confirmation =='' ">Confirm password cannot be blank.</div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" data-width="" (click)="password_recovery()">
                        Reset Password
                    </button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div class="reset-form" *ngIf="show_success_msg == true">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 no-padding">
                <div class="form-group" style="text-align: center;">
                    <label class="label_color">Password reset successfully</label>
                    
                </div>
                <div class="form-group" style="text-align: center;">
                    <button class="btn btn-primary" data-width="" [routerLink]="['/login']">
                        Login
                    </button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>