.fs-12{
	font-size: 12px;
}

.text_red{
	color: red;
}

.reset-form{
	background: #fff !important; 
	width: 555px !important; 
	margin: 0 auto !important; 
	padding-top: 50px !important; 
	margin-top: 50px !important;
}