<div class="crisis-blue-container">
  <div class="container text-center">
    <h3 class="no-mb">Same Condition User Agreement</h3>
  </div>
</div>

<div class="middle_section">
  <div class="container">
    <br>
    <!-- Container section -->
    <div class="row">
      <!-- Begin col-md-12 -->
      <div class="col-md-12">
        <div class="sc-ua-container">
          <div class="sc-container-shadow">
            <p [innerHTML]="agreementDesc"></p>
            <h6 class="text-center">
              Questions? Check out our <a [routerLink]="['/global/faq']">FAQ Page</a> or <a [routerLink]="['/global/contactus']">Contact Us</a>
            </h6>
          </div>          
        </div>
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- / Container section -->
  </div>
</div>