/*	Faq styles
*****************************/

.sc-container-shadow{
  position: relative;
  display: block;
  clear: both;
  padding: 8px 8px 7px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 10px 0 #e4e8ed;
  -moz-box-shadow: 0 2px 10px 0 #e4e8ed;
  box-shadow: 0 2px 10px 0 #e4e8ed;
  border-radius: 4px;
  margin-bottom: 10px;
}
